<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script>
        const saleorApiUrl = new URL(window.location.href).searchParams.get('saleorApiUrl');

        window.addEventListener("message", async (e) => {
            let data = e.data;
            if (data.type === "handshake" || data.type === "tokenRefresh") {
                let data = e.data.payload;
                await fetch("/api/auth", {
                    method: 'POST',
                    body: JSON.stringify({
                        api_url: saleorApiUrl,
                        token: data.token
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        });
    </script>
</body>
</html>